*{
  box-sizing: border-box;
}
body {
  margin:0
}

.section {
 display: table;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.wrap-block {
  display: table-cell;
  vertical-align: middle;
  color:white;
  
}

h1 {
  font-style: italic;
}